{% extends 'base_generic.html' %}
{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5 fw-bold">Контакты</h1>

    <!-- Информация об организации -->
    <div class="row mb-5">
        <div class="col-lg-6 mb-4">
            <h3 class="fw-bold text-primary">О нас</h3>
            <p class="lead">Мы — надежный поставщик электроники, предлагающий широкий ассортимент товаров для дома, работы и отдыха. Мы стремимся предложить вам только самые качественные и современные устройства по доступным ценам.</p>
        </div>

        <div class="col-lg-6">
            <h3 class="fw-bold text-primary">Контактная информация</h3>
            <ul class="list-unstyled">
                <li><strong>Адрес:</strong> ул. Запольная, 60, Курск, 305040</li>
                <li><strong>Телефон:</strong> +7 (4712) 745-123</li>

            </ul>
        </div>
    </div>

    <!-- Карта -->
    <div class="row mb-5">
        <div class="col-12">
            <h3 class="fw-bold text-primary">Наша локация</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A74999e9817063e90b8be5d8a28f210c16a83206e68ee61bfe15e24587ba8483a&amp;source=constructor" class="embed-responsive-item" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </div>
    </div>

    <!-- Ссылка на форму обратной связи -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="fw-bold text-primary text-center">Есть вопросы?</h3>
            <p class="text-center">Мы всегда готовы помочь. Перейдите в форму обратной связи, чтобы задать свой вопрос или оставить отзыв.</p>
            <div class="text-center">
                <a href="{% url 'contact' %}" class="btn btn-primary btn-lg shadow-sm">
                    Оставить сообщение
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
