{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <form method="GET" action="{% url 'products:product_list' %}">
    <div class="row">
        <div class="col-md-3">
            <label for="category">Категория</label>
            <select name="category" id="category" class="form-control">
                <option value="">Все категории</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == selected_category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
            <label for="brand">Бренд</label>
            <select name="brand" id="brand" class="form-control">
                <option value="">Все бренды</option>
                {% for brand in brands %}
                    <option value="{{ brand.id }}" {% if brand.id == selected_brand %}selected{% endif %}>{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <label for="min_price">Минимальная цена</label>
            <input type="number" name="min_price" id="min_price" class="form-control" value="{{ selected_min_price }}">
        </div>

        <div class="col-md-2">
            <label for="max_price">Максимальная цена</label>
            <input type="number" name="max_price" id="max_price" class="form-control" value="{{ selected_max_price }}">
        </div>

        <div class="col-md-2">
            <label for="search">Поиск</label>
            <input type="text" name="search" id="search" class="form-control" value="{{ selected_search }}">
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Фильтровать</button>
</form>


    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                <img src="{% static 'media/no_image.jpeg' %}" class="card-img-top" alt="Нет изображения">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text fw-bold">{{ product.price }} ₽</p>
                    <p class="mb-2">Средняя оценка: {{ product.average_rating }} ⭐</p>
                    <div class="mt-auto">
                        <a href="{% url 'products:product_detail' product.id %}" class="btn btn-outline-primary w-100 mb-2">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Товары не найдены по заданным фильтрам.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
